*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

:root {
  --color-bar-inactive: #c7d2fe;
  --color-bar-active: #818cf8;
  --color-bar-active-dark: #6366f1;
  --color-bar-outline: #a5b4fc;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}
